name: github pages

on:
  push:
    branches:
      - main # Set a branch name to trigger deployment

jobs:
  deploy:
    name: Deploy doc
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@main

      - name: Use OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: '5.1.x'
          allow-prerelease-opam: true
          dune-cache: true

      - run: opam pin odoc 3.1.0 -y -n
        # crash with 2.4, see https://github.com/ocaml/odoc/issues/1066
      - name: Deps
        run: opam install odig trace trace-tef trace-fuchsia ppx_trace

      - name: Build
        run: opam exec -- odig odoc --cache-dir=_doc/ trace trace-tef trace-fuchsia ppx_trace

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_doc/html
          destination_dir: .
          enable_jekyll: false
